---
import { getPosts } from "~/data"

import BaseLayout from "~/layouts/BaseLayout.astro"

import BlogList from "~/components/BlogList.astro"

const posts = await getPosts()
---

<BaseLayout title="Blog">
  <section>
    <BlogList posts={posts} />
  </section>
</BaseLayout>
