---
import { getPosts } from "@/data"

import BaseLayout from "@/layouts/BaseLayout.astro"

import BlogCard from "@/components/BlogCard.astro"

const posts = await getPosts()
---

<BaseLayout title="Blog">
  <section>
    <ul class="flex flex-col items-stretch space-y-6">
      {
        posts.map((post: any) => (
          <li>
            <BlogCard slug={post.slug} data={post.data} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
