---

---

<footer class="border-t border-border">
  <div
    class="container flex items-center justify-center py-4 text-sm text-muted-foreground"
  >
    @dm1nh - 2024 &copy; All rights reserved
  </div>
</footer>
