---

---

<footer class="border-t border-border">
  <div
    class="container flex items-center justify-center py-2 text-sm text-muted-foreground"
  >
    Dang Minh Ngo 2024 &copy; All rights reserved
  </div>
</footer>
