---
import { getPosts, getPostsByTags } from "~/data"

import NoteCard from "./NoteCard.astro"

interface Props {
  posts: Awaited<ReturnType<typeof getPosts | typeof getPostsByTags>>
}
const { posts } = Astro.props
---

<ul class="flex flex-col items-stretch space-y-6">
  {
    posts.map((post) => (
      <li>
        <NoteCard {...post} />
      </li>
    ))
  }
</ul>
