---
import type { CollectionEntry } from "astro:content"
import Tag from "./Tag.astro"

interface Props {
  tags: CollectionEntry<"posts" | "notes">["data"]["tags"]
}

const { tags } = Astro.props
---

<ul class="flex items-center space-x-2">
  {
    tags.map((tag) => (
      <li>
        <Tag {...tag} />
      </li>
    ))
  }
</ul>
