---
import type { ContentType } from "~/data"
import type { CollectionEntry } from "astro:content"

import Tag from "./Tag.astro"

interface Props {
  type?: ContentType
  tags: CollectionEntry<"blog" | "note">["data"]["tags"]
}

const { type = "blog", tags } = Astro.props
---

<ul class="flex items-center space-x-2">
  {
    tags.map((tag) => (
      <li>
        <Tag tag={tag} />
      </li>
    ))
  }
</ul>
